<div id="footer">
    <div>
        <ul class="navigation">
            <li {{#ifequal title "Flowering Spaces - Home"}} class="active" {{/ifequal}} >
                <a href="../">Home</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Nursery"}} class="active" {{/ifequal}} >
                <a href="../nursery">Nursery</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Landscapes"}} class="active" {{/ifequal}} >
                <a href="../landscapes">Landscapes</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Testimonials"}} class="active" {{/ifequal}} >
                <a href="">Testimonials</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Garden Blog"}} class="active" {{/ifequal}} >
                <a href="">Garden Blog</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - About"}} class="active" {{/ifequal}} >
                <a href="">About</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Contact"}} class="active" {{/ifequal}} >
                <a href="">Contact</a>
            </li>
        </ul>
        <div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a
                href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a
                href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a
                href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
        </div>
    </div>
    <p>
        © 2021 by Flowering Spaces! All Rights Reserved
    </p>
</div>