<div id="header">
    <div id="logo">
        <a href="../"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li {{#ifequal title "Flowering Spaces - Home"}} class="selected" {{/ifequal}} >
                <a href="../">Home</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Nursery"}} class="selected" {{/ifequal}} >
                <a href="../nursery">Nursery</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Landscapes"}} class="selected" {{/ifequal}} >
                <a href="../landscapes">Landscapes</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Testimonials"}} class="selected" {{/ifequal}} >
                <a href="">Testimonials</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Garden Blog"}} class="selected" {{/ifequal}} >
                <a href="">Garden Blog</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - About"}} class="selected" {{/ifequal}} >
                <a href="">About</a>
            </li>
            <li {{#ifequal title "Flowering Spaces - Contact"}} class="selected" {{/ifequal}} >
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</div>