<div class="col-md-3">
  <h2 class="text-center">Edit Flower</h2>
  <!-- confirm that [formGroup] matches the FormGroup created in the .ts file -->
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Code:</label>
      <input type="text" formControlName="code" placeholder="Code" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
      <div *ngIf="submitted && f.code.errors">
        <div *ngIf="f.code.errors.required"> 
          Flower Code # is required 
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Common Name:</label>
      <input type="text" formControlName="name" placeholder="Common Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required"> 
          Common plant name is required 
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Scientific Name:</label>
      <input type="text" formControlName="scientific" placeholder="Scientific Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.scientific.errors }">
      <div *ngIf="submitted && f.scientific.errors">
        <div *ngIf="f.scientific.errors.required"> 
          Scientific plant name is required 
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Plant Type:</label>
      <input type="text" formControlName="type" placeholder="Plant Type" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
      <div *ngIf="submitted && f.type.errors">
        <div *ngIf="f.type.errors.required"> 
          Plant type is required 
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Size (height & width):</label>
      <input type="text" formControlName="size" placeholder="Size" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.size.errors }">
      <div *ngIf="submitted && f.size.errors">
        <div *ngIf="f.size.errors.required"> 
          Mature plant size is required (height & width)
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Price:</label>
      <input type="text" formControlName="price" placeholder="Price" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.price.errors">
        <div *ngIf="f.price.errors.required"> 
          Price is required (pot size and U.S. dollar amount)
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Image:</label>
      <input type="text" formControlName="image" placeholder="Image" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.image.errors }">
      <div *ngIf="submitted && f.image.errors">
        <div *ngIf="f.image.errors.required"> 
          Image is required 
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <input type="text" formControlName="description" placeholder="Description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      <div *ngIf="submitted && f.description.errors">
        <div *ngIf="f.description.errors.required"> 
          Description is required 
        </div>
      </div>
    </div>

    <!-- 'Save' button for submission -->
    <button type="submit" class="btn btn-info">Save</button>
  </form>
</div>