<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
	<meta charset="UTF-8">
	<title>Flowering Spaces - About</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>About</h1>
							
							<hr>
							<div class="ads">
								<h2> Meet the owner</h2>
								<img src="images/fs_mickey02.jpg" alt="Img" >
								<p>
									Our fearless owner!
								</p>
								<h2>The Help</h2>
								<img src="images/fs_omar01.jpg" alt="Img" >
								<p>
									This guy helps the owner.
								</p>
							</div>
							<h2>Who we are and what we do</h2>
							<p>
								Here at Flowering Spaces, we love everything about gardening!
								We want to share our passion with you. Check out our awesome nursery page
								with our home-grown plants, or our landscapes page with our custom landscaping designs!

								We can work one-on-one with all our clients to customize a garden just for you,
								because that is who we are and what we do! </p>

							</p>
							<h2>Our promise to our clients:</h2>
							
							<p> We are always excited for the opportunity to work with our clients on custom designs,
								but our priority is your satisfaction. We promise to do whatever it takes to create
								your dream garden and landscape at an affordable price.
								</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>

</html>