<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Flowering Spaces - Contact</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div id="contact" class="body">
							<h1>Contact</h1>
							<h2>Flowering Spaces</h2>
							<p>
								<span>Address:</span> 1000 Somewhere St., Sometown, Somestate 01001
							</p>
							<p>
								<span>Telephone Number:</span> 1-555-555-5555
							</p>
							<p>
								<span>Fax Number:</span> 1-555-555-5556
							</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>