<!-- Home component html -->

<div class="container" *ngIf="!isLoggedIn()">
  <br />
  <h1>Welcome!</h1>
  <br />
  <h3>Please select from the following options:</h3>
  <div>
    <br />
    <h5><a routerLink="login">Login</a></h5>
    <br />
    <h5><a routerLink="register">Register</a></h5>
    <br />
    <h5><a routerLink="list-flowers">Continue as a Guest</a></h5>
  </div>
</div>

<div class="container" *ngIf="isLoggedIn()">
  <br />
  <h3>You are currently logged in!</h3>
  <br />
  <h5><a routerLink="list-flowers">Click here to continue to our flowers list!</a></h5>
</div>